.scoreboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.squares-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.square{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: red;
  font-size: 1.7em;
}
.square:hover{
  animation: neon infinite 2s linear;
}
.square:active{
  border-color: blue;
  box-shadow: 0 0 5px 3px blue;
}
.info{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.symbol{
  color: white;
  width: 23px;
  height: 23px;
  font-size: 1em;
  margin: 0;
  padding: 7px;
  float: left;
  transform: translateX(90%);
}
.symbol.active{
  color: blue;
  border: 1px solid blue;
}
.msg{
  padding: 1.1em;
  color: red;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid red;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
@keyframes neon {
  from {
    border-color: red;
    box-shadow: 0 0 5px 3px red;
  } to {
    border-color: rgb(0, 255, 64);
    box-shadow: 0 0 5px 3px rgb(0, 255, 64);
  }to {
    border-color: rgb(76, 0, 255);
    box-shadow: 0 0 5px 3px rgb(76, 0, 255);
  }
}